@model PAW.FinalProject.DB.Category

@{
    ViewBag.Title = "PruebaCategoria";
}

<h2>PruebaCategoria</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
