@model IEnumerable<PAW.FinalProject.DB.SubCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameSubCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameSubCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_SubCategory }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_SubCategory }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_SubCategory })
        </td>
    </tr>
}

</table>
